.color-scheme-switch-area {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-2);
}

.buttons-spacing {
    display: flex;
    gap: var(--spacing-1);
}

.card div {
    justify-content: space-between;
}

.card button {
    flex: 1;
}
